.header {
    background-color: #c2c9c9;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: "Great Vibes", cursive;
    font-size: 5rem;
    text-decoration: none;
    color: #2626bf;
    padding: 0 2rem;
}

.header__menu {
    padding: 0 2rem;
    display: flex;
    justify-content: flex-end;
    /* justify-content: flex-end;
    align-items: stretch; */
}

.header__menu li {
    margin-right: 2rem;
}

.header__menu li:last-of-type {
    margin-right: 0rem;
}