.sentence__image {
    width: 50%;
    max-width: 100%;
}

.sentence__quote {
    width: 50%;
    max-width: 60rem;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem 1rem;
}

.sentence__quote blockquote {
    margin: 0 auto;
}