$welcome-background-color: grey;
$welcome-text-color: blue;

.welcome {
  display: grid;
  grid-template-columns: 1fr 180px 1fr;
  grid-template-rows: 1fr 140px 1fr;
  background-color: $welcome-background-color;
  height: 100%;

  &__image {
    width: 180px;
    height: 140px;
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 40%;

    &--quickly {
      background: $main-color url('/src/assets/image/welcome_small_quickly.gif')
        no-repeat;
      background-position: center;
    }

    &--gump {
      background: $main-color url('/src/assets/image/welcome_small_gump.gif')
        no-repeat;
      background-position: center;
    }
  }

  &__text {
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 10;
    margin: 1px auto;
    font-size: 2.5rem;
    color: $welcome-text-color;
  }
}
