.main {
  height: calc(100vh - $header-height - $footer-height);
  background-color: $main-color;
}

.main_scrollable {
  min-height: calc(100vh - $header-height - $footer-height);
  background-color: $main-color;
}
