/*for debug*/
.p4-red {
    border: 5px solid red;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px red;
}

.p4-blue {
    border: 5px solid blue;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px blue;
}

.p4-green {
    border: 5px solid green;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px green;
}