.footer {
    background-color: #c2c9c9;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 1rem;
}


.footer__image--gump {
    background: #DADDDD url('/src/assets/image/welcome_small_gump.gif') no-repeat;
    background-position: center;
    background-size: 50%;
}