.sentence {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    overflow: hidden;
}

.sentence__image {
    display: block;
    object-fit: contain;
    object-position: center;
}

.sentence_quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.sentence__quote {
    color: navy;
    position: relative;
    margin-bottom: 1rem;
}

.sentence__quote__text {}

.sentence__cite {
    display: block;
    position: absolute;
    right: 2rem;
}