.sentence {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.sentence__images {
    max-width: 50%;
    padding-left: 80px;
    position: relative;
}

.sentence__images::before {
    content: '';
    position: absolute;
    top: calc(50% - 20px);
    left: 20px;
    width: 0;
    height: 0;
    border: 20px solid navy;
    border-color: transparent navy transparent transparent;
}

.sentence__image {
    display: block;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.sentence_quotes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    /*? TO DO: check*/
    align-content: center;
    height: 100%;
    /*? TO DO: check*/

    padding-right: 80px;
    position: relative;
}

.sentence_quotes::after {
    content: '';
    position: absolute;
    top: calc(50% - 20px);
    right: 60px;
    width: 0;
    height: 0;
    border: 20px solid navy;
    border-color: transparent transparent transparent navy;
}

.sentence__quote {
    color: navy;
    line-height: 1.7rem;
}

.sentence__quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 100%;
    /*? TO DO: check*/

}

.sentence__quote__text {
    margin-bottom: 0.3rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.sentence__quote cite {
    display: block;
}