$Welcome-background-color: grey;
$Welcome-text-color: blue;

$Header__logo-color: #2626bf;
$Header-color: #c2c9c9;
$Main-color: #dadddd;

$SentenceItem__header-color: navy;
$link_active-color: #1f1f81;

$Header-height: 7rem;
$Header__logo-font-size: 5rem;
$Footer-height: 5rem;
