.link {
    font-family: 'Merriweather', serif;
    font-size: 1.8rem;
    text-decoration: none;
    color: $logo-color;
}

.link-active {
    font-weight: 700;
    color: $link-active-color;
}

.link:not(.link-active):hover {
    color: $link-active-color;
    text-shadow: 0px 0px 1px $link-active-color;
}
