*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    line-height: 3rem;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather", serif;
    font-weight: bold;
}

.link {
    font-family: "Merriweather", serif;
    font-size: 1.8rem;
    text-decoration: none;
    color: #2626bf;
}

.link-active {
    font-weight: 700;
    color: #1f1f81;
}

.link:hover {
    color: #1f1f81;
    text-shadow: 1px 0px 0px #1f1f81;
}